.main{
    width: 100px;
    height: 100vh;
    background: #302E2E;
    padding: 30px 0;
    grid-row: span 2;
}

.logo{
    width: 72px;
    height: 28px;
    margin-bottom: 49px;
}

.main ul li{
    margin-bottom: 38px;
}

.appeal{
    padding:10px;
    margin: -10px 0;
    /*background: #535353;*/
}

.settings, .dicts{
    padding-top: 56px;
}

.stat{
    padding-top: 46px;
}

.active{
    background: #535353;
}