* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: #F5F5F5;
}

.navigation {
    display: grid;
    grid-template-areas:"main navbar"
                        "main content";
    grid-template: 80px 1fr / 100px 1fr;
    grid-auto-rows: auto;
    text-align: center;
}

.content {
    display: grid;
    grid-template: 35px 26px 1fr 85px / 200px 62px 180px 155px 2.6% 21.1%;
    padding: 55px 0 0 75px;
}

.content input[type="search"] {
    width: 200px;
    height: 35px;
    font-size: 14px;
    padding-left: 33px;
    /*background: white url(.) no-repeat 13px center;*/
    border: 1px solid #979797;
    outline: none;
    color:#464646;
    grid-column:1/3;
}

input::-moz-placeholder {
    color: #B2B2B2;
}
input::-webkit-input-placeholder {
    color: #B2B2B2;
}

.table{
    padding-top: 26px;
    grid-column:1/5;
    font-size: 14px;
    text-align:left;
    border-spacing: 0 10px;
}

.head {
    color: #A6A6A6;
    font-weight: bold;
    height: 24px;
}

.report1{
    height: 65px;
    background: white;
}

.table td{
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    cursor: pointer;
}

.table td:first-child{
    border-left: 1px solid #EAEAEA;
}

.table td:last-child{
    border-right: 1px solid #EAEAEA;
}

.emptyColumn{
    width: 39px;
}

.fColumn {
    width: 223px;

}

.sColumn{
    width: 191px;
}

.tColumn{
    width: 226px;
}

.foColumn{
    width: 182px;
}

.fiColumn{
    width: 122px;
}

.siColumn{
    width: 153px;
}

.seColumn{
    width: 149px;
}


.report1 img{
    width: 30px;
    height: 30px;
    margin-right: 11px;
}

.fColumn p, .tColumn p{
    display: inline-block;
}


.table {
    margin-right: 236px;
}

.head {
    color: #A6A6A6;
    font-weight: bold;
    height: 24px;
}

.emptyColumn{
    width: 39px;
}

.fColumn {
    min-width: 223px;

}

.sColumn {
    width: 231px;
}

.tColumn {
    width: 231px;
}

.tColumn p {
    vertical-align: 0;
}

.foColumn {
    width: 170px;
}

.fiColumn {
    width: 155px;
}

.content .table {
    grid-column: 1/7;
}

.table td {
    cursor: default;
}

.addButton {
    display: inline-block;
    grid-column: 3 / 4;
    grid-row: 1;
    width: 210px;
    cursor: pointer;
    border: 0;
    background: #302E2E;
    color: white;
    font-size: 14px;
}

.report1 {
    height: 65px;
    background: white;
}

.report1 img {
    width: 30px;
    height: 30px;
    margin-right: 11px;
}
