.block {
    width: 478px;
    height: 319px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #EAEAEA;
    text-align: center;
}

.head {
    width: 478px;
    height: 11px;
    background-color: #302E2E;
    position: relative;
    bottom: 1px;
    right: 1px;
    margin: 0;
}

.logo {
    width: 81px;
    height: 33px;
    text-align: center;
    margin: 39px auto 25px;
}

.block input[type="email"] {
    padding:12px 78px 12px 21px;
    font-size: 14px;
    margin: 0 auto 24px;
    border: 1px solid #979797;
    outline: none;
    color: #302E2E;
}

input::-moz-placeholder {
    color: #B2B2B2;
}

input::-webkit-input-placeholder {
    color: #B2B2B2;
}

.button {
    font-size: 14px;
    padding: 10px 24px;
    cursor: pointer;
    margin-left: 90px;
    border: 0;
    background: #302E2E;
    color: white;
}

.forgot {
    color: #00C092;
    cursor: pointer;
}

.info {
    width: 478px;
    text-align: center;
    font-size: 16px;
    color: #5C5C5C;
    margin-bottom: 25px;
    /*margin: -5px 0 21px 103px;*/
}

